/.idea/
/.phpunit.result.cache
/bin/phing
/bin/phpunit
/composer.lock
/docs/_build/
/test/MySql/AlterAuditTableCommand/config/alter.sql
/test/MySql/AuditCommand/DroppedTable/config/audit.json
/test/MySql/AuditCommand/NewTable/config/audit.json
/test/MySql/AuditCommand/ObsoleteTable/config/audit.json
/test/MySql/DiffCommand/ObsoleteAuditTable/config/audit.json
/test/coverage.xml
/test/report/
/vendor/
